queue/n8n/feedback-system.json
{
  "updatedAt": "2026-04-08T08:27:57.341Z",
  "createdAt": "2026-04-07T02:26:35.675Z",
  "id": "HzzVDzt7oFjnDfP4",
  "name": "feedback-system",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "notion-trigger-fb",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "2TgNXCxOf366ZWZh",
          "name": "Notion account"
        }
      },
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "event": "pageAddedToDatabase",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "01d9f2b4-01e4-42e6-85ec-f4b2feb5bfb8"
        }
      }
    },
    {
      "id": "code-yaml-fb",
      "name": "Notion→YAML整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "parameters": {
        "jsCode": "const page = $input.first().json;\n// n8n Notion Trigger v1 flattens properties to top-level fields\nconst title = page['タイトル'] || 'No Title';\nconst typeVal = page['種別'];\nconst type = Array.isArray(typeVal) ? typeVal.join(', ') : (typeVal || 'その他');\nconst detail = page['詳細'] || '';\nconst sender = page['送信者メールアドレス'] || 'anonymous';\nconst urgency = page['緊急度'] || 'medium';\nconst project = page['対象プロジェクト'] || 'その他';\nconst ts = new Date().toISOString();\nconst shortId = Math.random().toString(36).substr(2, 8);\nconst id = `feedback_${ts.replace(/[-:T.Z]/g,'').substr(0,15)}_${shortId}`;\nreturn [{ json: { id, timestamp: ts, sender, feedbackType: type, title, detail, urgency, project, pageId: page.id } }];"
      }
    },
    {
      "id": "code-append-fb",
      "name": "shogun.yaml追記",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "// pure Node.js implementation — atomic append to shogun.yaml without python\nconst fs = require('fs');\n\nconst SHOGUN_INBOX = '/home/ubuntu/shogun/queue/inbox/shogun.yaml';\n\nfunction escapeYamlString(s) {\n  return \"'\" + String(s).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction buildContent(data) {\n  const lines = [\n    '【種別】' + (data.feedbackType || ''),\n    '【緊急度】' + (data.urgency || ''),\n    '【対象】' + (data.project || ''),\n    '【タイトル】' + (data.title || ''),\n    '【詳細】' + (data.detail || ''),\n  ];\n  return lines.join('\\n');\n}\n\nfunction buildYamlEntry(data) {\n  const id = data.id || 'unknown';\n  const timestamp = data.timestamp || '';\n  const sender = data.sender || 'anonymous';\n  const content = buildContent(data);\n  let entry = '- id: ' + escapeYamlString(id) + '\\n';\n  entry += '  timestamp: ' + escapeYamlString(timestamp) + '\\n';\n  entry += '  from: ' + escapeYamlString(sender) + '\\n';\n  entry += '  type: feedback\\n';\n  entry += '  read: false\\n';\n  entry += '  content: ' + escapeYamlString(content) + '\\n';\n  return entry;\n}\n\nconst data = $input.first().json;\nconst entryYaml = buildYamlEntry(data);\n\nconst current = fs.readFileSync(SHOGUN_INBOX, 'utf8');\nlet newContent;\nif (current.trim() === '' || current.trim() === 'messages:' || current.trim() === 'messages: []') {\n  newContent = 'messages:\\n' + entryYaml;\n} else {\n  newContent = current.endsWith('\\n') ? current + entryYaml : current + '\\n' + entryYaml;\n}\n\n// Use Date.now() + random instead of process.pid (process not available in n8n task-runner)\nconst tmpFile = SHOGUN_INBOX + '.tmp.' + Date.now() + '_' + Math.floor(Math.random() * 100000);\nfs.writeFileSync(tmpFile, newContent, 'utf8');\nfs.renameSync(tmpFile, SHOGUN_INBOX);\n\nreturn [{ json: { success: true, id: data.id, message: 'feedback appended (pure Node.js)' } }];\n"
      }
    },
    {
      "id": "error-trigger-fb",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        400,
        580
      ],
      "parameters": {}
    },
    {
      "id": "code-ntfy-fb",
      "name": "エラー通知(ntfy)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        580
      ],
      "parameters": {
        "jsCode": "// best-effort error notify — try /usr/bin/bash, fallback to silent\nconst { execSync } = require('child_process');\nlet errMsg = ($json.execution && $json.execution.error && $json.execution.error.message) || $json.error || 'unknown error';\nerrMsg = String(errMsg).replace(/'/g, '').substr(0, 80);\ntry {\n  execSync(`/usr/bin/bash /home/ubuntu/shogun/scripts/ntfy.sh \"[vps] feedback-system error: ${errMsg}\" \"n8n\" \"error\"`, {\n    encoding: 'utf-8',\n    timeout: 10000\n  });\n} catch(e) {\n  try {\n    // fallback: append to a log file directly\n    require('fs').appendFileSync('/home/ubuntu/shogun/logs/n8n_feedback_errors.log', `[${new Date().toISOString()}] ${errMsg}\\n`, 'utf8');\n  } catch(e2) {}\n}\nreturn [{ json: $input.first().json }];\n"
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Notion→YAML整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion→YAML整形": {
      "main": [
        [
          {
            "node": "shogun.yaml追記",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "エラー通知(ntfy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Notion Trigger": {
      "lastTimeChecked": "2026-04-08T08:27:00.000Z",
      "possibleDuplicates": [
        "33ce8d62-e4aa-8180-a03c-ffff96f4d556"
      ]
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "70943895-6571-4912-93df-915a00620a5e",
  "activeVersionId": "70943895-6571-4912-93df-915a00620a5e",
  "versionCounter": 41,
  "triggerCount": 1,
  "tags": []
}
